@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
:root {
  --primary-color1: #f0f0f0;
  --primary-color2: #eeeeee;
  --primary-yellow: #ffeb00;
  --black-color: #1f1f1f;
  --border-color: #ffffff;
}

#root {
  background-color: var(--primary-color1);
}

p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.8rem;
  text-align: left;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

a {
  text-decoration: none;
  color: var(--black-color);
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.8rem;
  text-align: left;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding {
  padding-top: 5em;
  padding-bottom: 5em;
}

.hide {
  display: none;
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

.hidden {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(-100%);
}

.hidden-icons {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateY(100%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media (prefers-reduced-motion: no-preference) {
  .hidden {
    transition: all 1s;
  }
}
.title-text {
  font-size: 4rem;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.title-text-smaller {
  font-size: 3rem;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
}

.logo-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.navbar {
  background-color: var(--black-color);
  border-bottom: 7px solid var(--primary-yellow);
}
.navbar a.nav-link.active {
  color: var(--primary-yellow);
  font-weight: bold;
}
.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.navbar .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.9) !important;
}
.navbar .navbar-logos {
  width: 1.5em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid var(--primary-color1);
}
.navbar .navbar-logos:hover {
  background-color: var(--primary-yellow);
  border-radius: 10px;
}
.navbar .navbar-home-logo {
  height: auto;
  width: auto;
  max-height: 72px;
  max-width: 250px;
}
.navbar a.nav-link {
  margin: 0.5em;
  padding: 0.5em;
  white-space: nowrap;
  width: auto;
  display: inline-block;
  font-size: 1em;
  font-family: "Josefin Sans", sans-serif;
  color: var(--primary-color2);
}
.navbar a.nav-link:hover {
  color: var(--primary-yellow);
  font-weight: bold;
}
.navbar #languageToggleBtn {
  margin-right: 2em;
}
.navbar #languageToggleBtnNavbar {
  display: none;
}
.navbar #languageToggleBtn {
  color: black;
  font-weight: bold;
  background-color: var(--primary-color1);
  border-color: white;
}
.navbar #languageToggleBtnNavbar {
  color: black;
  font-weight: bold;
  background-color: var(--primary-color1);
  border-color: white;
}
.navbar #languageToggleBtn:hover {
  background-color: #ffd22b;
}

#to-top-button-timeline {
  color: black;
  margin-top: 5em;
  background-color: var(--primary-color1);
  border-color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.3s ease;
  margin-bottom: 1em;
}

#to-top-button-timeline:hover {
  transform: scale(1.15);
}

.contact-me-container {
  background-color: #ffffff;
  margin-top: 5rem;
  padding-bottom: 3em;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  border: #000000 2px solid;
  box-sizing: border-box;
}

.contact-me-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-row {
  display: flex;
  flex-direction: column;
  word-break: break-word;
  align-items: center;
}

.label {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.value {
  color: #1a0dab;
  text-decoration: none;
}

.value:hover {
  text-decoration: underline;
}

.section-home {
  background-color: var(--primary-color1);
}
.section-home .flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
}
.section-home .video-container {
  position: relative;
  height: 100vh;
  width: 100%;
}
.section-home .background-video {
  height: auto;
  width: 100%;
  float: left;
  clear: none;
  padding-bottom: 4em;
}
.section-home .hero-container {
  position: absolute;
  align-items: center;
  top: 50%;
  display: grid;
  padding-right: 2em;
  grid-template-columns: 3fr 5fr;
}
.section-home .hero-container #profilepic {
  width: 29%;
  border-radius: 25em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid white;
}
.section-home .hero-container .title-text {
  color: white;
  font-size: 5em;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.1em;
  text-align: center;
  outline: 2px solid white;
  border-radius: 10px;
}
.section-home .container {
  background-color: var(--primary-color1);
  max-width: 80vw;
}
.section-home .container .CTA-button {
  background-color: var(--primary-yellow);
  font-size: 1.5rem;
  color: black;
  font-family: "Josefin Sans", sans-serif;
  margin-right: auto;
  margin-left: auto;
  display: block;
  transition: transform 0.3s ease;
  margin-bottom: 1em;
}
.section-home .container .CTA-button:hover {
  transform: scale(1.15);
}
.section-home .container .CTA-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--black-color);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  margin-bottom: 4em;
  padding: 1em;
  padding-top: 5em;
  padding-bottom: 5em;
  border-radius: 2em;
  box-shadow: #000000 0px 0px 10px;
}
.section-home .container .CTA-wrapper .white {
  font-size: 2rem;
}
.section-home .container #hoverlogos {
  padding: 1em;
  transition: transform 0.3s ease;
}
.section-home .container #hoverlogos:hover {
  transform: scale(1.15);
}
.section-home .container #hoverlogosmaller {
  width: 300px;
  height: 300px;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  margin: 0 auto;
  padding: 1em;
  transition: transform 0.3s ease;
}
.section-home .container #hoverlogosmaller:hover {
  transform: scale(1.15);
}
.section-home .white {
  color: white;
}
.section-home .tech-used-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
  padding-bottom: 2em;
}
.section-home .tech-used-container img {
  width: 5%;
}

.fitness-section {
  background-color: var(--primary-color1);
}
.fitness-section .container-fitness {
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
}
.fitness-section .fitness-embed {
  width: 15%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #fff;
}
.fitness-section .embeds {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 100px;
  padding: 20px;
}
.fitness-section .embeds .tweet-embed {
  width: 400px;
  height: auto;
  margin: 0;
  padding: 0;
}
.fitness-section .embeds .instagram-embed {
  width: 400px;
  height: auto;
}
.fitness-section .embeds .nutrition-label .label {
  border: 2px solid black;
  width: 270px;
  margin: 20px auto;
  padding: 0 7px;
}
.fitness-section .embeds .nutrition-label header h1 {
  text-align: center;
  margin: -4px 0;
  letter-spacing: 0.15px;
}
.fitness-section .embeds .nutrition-label p {
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}
.fitness-section .embeds .nutrition-label .divider {
  border-bottom: 1px solid #888989;
  margin: 2px 0;
}
.fitness-section .embeds .nutrition-label .bold {
  font-weight: 800;
}
.fitness-section .embeds .nutrition-label .large {
  height: 10px;
}
.fitness-section .embeds .nutrition-label .large,
.fitness-section .embeds .nutrition-label .medium {
  background-color: black;
  border: 0;
}
.fitness-section .embeds .nutrition-label .medium {
  height: 5px;
}
.fitness-section .embeds .nutrition-label .small-text {
  font-size: 0.85rem;
}
.fitness-section .embeds .nutrition-label .calories-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.fitness-section .embeds .nutrition-label .calories-info p {
  font-size: 0.5em;
}
.fitness-section .embeds .nutrition-label .left-container p {
  margin: -5px -2px;
  font-size: 1.5em;
  font-weight: 700;
}
.fitness-section .embeds .nutrition-label .calories-info span {
  margin: -7px -2px;
  font-size: 2em;
  font-weight: 700;
}
.fitness-section .embeds .nutrition-label .right {
  justify-content: flex-end;
}
.fitness-section .embeds .nutrition-label .indent {
  margin-left: 1em;
}
.fitness-section .embeds .nutrition-label .double-indent {
  margin-left: 2em;
}
.fitness-section .embeds .nutrition-label .daily-value p:not(.no-divider) {
  border-bottom: 1px solid #888989;
}
.fitness-section .embeds .nutrition-label .note {
  font-size: 0.6rem;
  margin: 5px 0;
}

.esports-section {
  background-color: var(--primary-color1);
  display: flex;
  flex-direction: column;
  min-height: 40vh;
  align-items: center;
}
.esports-section .esports-introduction {
  display: flex;
  place-content: center;
}
.esports-section .esports-introduction-embed {
  display: grid;
  align-items: center;
  grid-template-columns: 50% 50%;
}
.esports-section .image {
  width: 550px;
  height: 400px;
  border: 5px solid var(--border-color);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.esports-section .container {
  background-color: var(--primary-color1);
  max-width: 80vw;
  align-items: center;
}
.esports-section .container #to-top-button-esports {
  color: black;
  margin-top: 5em;
  margin-bottom: 2em;
  background-color: var(--primary-color1);
  border-color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.3s ease;
}
.esports-section .container #to-top-button-esports:hover {
  transform: scale(1.15);
}
.esports-section .container .centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-align: left;
}
.esports-section .esports-text-first {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6em;
}
.esports-section .esports-text {
  font-family: "Josefin Sans", sans-serif;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1.6em;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.esports-section .esports-link {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.1em;
  text-align: center;
  color: var(--black-color);
}
.esports-section .esports-link:hover {
  font-size: 1.3em;
}

.signup-section {
  background-color: var(--primary-color1);
  display: flex;
  flex-direction: column;
  min-width: 80vw;
  min-height: 100vh;
  align-items: center;
}

.dev-section {
  background-color: var(--primary-color1);
  display: flex;
  flex-direction: column;
  min-width: 80vw;
  min-height: 100vh;
  align-items: center;
}
.dev-section .container {
  background-color: var(--primary-color1);
}
.dev-section .container .flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  font-size: 1.5em;
}
.dev-section .container .tech-used-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
  padding-bottom: 2em;
}
.dev-section .container .tech-used-container img {
  width: 5%;
}
.dev-section a {
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  font-size: 1em;
  text-align: center;
  color: var(--black-color);
}
.dev-section .unity-webgl {
  width: 100%;
  height: 100%;
  transform: scale(1); /* no need to scale manually */
}
.dev-section .unity-start-loading-button {
  font-size: 1.5rem;
  color: black;
  margin-top: 5em;
  background-color: #ffd22b;
  border-color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4em;
  margin-top: 4em;
  padding: 0.5em;
  transition: transform 0.3s ease;
}
.dev-section .unity-start-loading-button:hover {
  color: black;
  border-color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: scale(1.3);
  background-color: #ffd22b;
}
.dev-section .unity-content {
  padding-bottom: 20vh;
}
.dev-section .loading-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 8px;
  color: white;
}

.dbz-section .dbz-container {
  background-color: var(--primary-color1);
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dbz-section .background-video {
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dbz-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.dbz-section .content-overvideo {
  position: absolute;
  padding-top: 5em;
  padding-left: 5em;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 6em;
}

.gallery {
  width: 1000px;
  display: flex;
  overflow-x: scroll;
}
.gallery div {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 40px;
  padding: 10px;
  flex: none;
}
.gallery img {
  width: 300px;
  height: 300px;
}
.gallery .widerpic {
  width: 400px;
}
.gallery ::-webkit-scrollbar {
  display: none;
}

footer {
  position: relative;
  margin-top: auto;
  bottom: 0;
  padding-top: 10px;
  border-top: 7px solid var(--primary-yellow);
  background-size: cover;
  text-align: left;
  background-color: #333;
  color: #fff;
  left: 0;
}
footer .footer-text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  text-align: left;
  padding-bottom: 1em;
}

.navbar-home-logo-footer {
  max-height: 72px;
  max-width: 250px;
  margin-left: 3rem;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media only screen and (min-width: 768px) {
  #basic-nav-dropdown {
    display: none;
  }
}
.navbar span.navbar-brand {
  margin-right: 0em;
}

.timeline-div {
  background: var(--primary-color1);
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  color: rgb(53, 53, 53);
  width: 100%;
}

.timeline-title {
  font-size: 4rem;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
}

.timeline-secondary-title {
  font-size: 4em;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
}

.vertical-timeline-element-title {
  padding-top: 0.25em;
}

.vertical-timeline-element-content {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25), 0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
  padding: 2em 3em !important;
  border: 2px solid black;
}

.date.vertical-timeline-element-date {
  color: rgb(2, 1, 1) !important;
  font-size: 1.5em !important;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.date {
  color: rgb(201, 251, 255);
}

#description {
  margin: 1.5em 0 2em 0;
}

.button {
  text-decoration: none;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 5px;
  color: white;
  border: 2px solid black;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 0.9em;
}

.schoolButton {
  background-color: var(--primary-yellow);
}

.schoolButton:hover {
  background-color: #f3bc3c;
}

.dragon-ball {
  cursor: pointer;
  filter: grayscale(0%);
  transition: filter 0.3s;
  width: 5em;
}

.dragon-ball.collected {
  filter: grayscale(100%);
}

#dragon-ball-1 {
  filter: grayscale(0%);
}

#dragon-ball-2 {
  filter: grayscale(0%);
}

#dragon-ball-3 {
  filter: grayscale(0%);
}

#dragon-ball-4 {
  filter: grayscale(0%);
}

#dragon-ball-5 {
  filter: grayscale(0%);
}

#dragon-ball-6 {
  filter: grayscale(0%);
}

#dragon-ball-7 {
  filter: grayscale(0%);
}

.test1 .label {
  border: 2px solid black;
  width: 270px;
  margin: 20px auto;
  padding: 0 7px;
}
.test1 header h1 {
  text-align: center;
  margin: -4px 0;
  letter-spacing: 0.15px;
}
.test1 p {
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.test1 .divider {
  border-bottom: 1px solid #888989;
  margin: 2px 0;
}
.test1 .bold {
  font-weight: 800;
}
.test1 .large {
  height: 10px;
}
.test1 .large,
.test1 .medium {
  background-color: black;
  border: 0;
}
.test1 .medium {
  height: 5px;
}
.test1 .small-text {
  font-size: 0.85rem;
}
.test1 .calories-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.test1 .calories-info h2 {
  margin: 0;
}
.test1 .left-container p {
  margin: -5px -2px;
  font-size: 2em;
  font-weight: 700;
}
.test1 .calories-info span {
  margin: -7px -2px;
  font-size: 2.4em;
  font-weight: 700;
}
.test1 .right {
  justify-content: flex-end;
}
.test1 .indent {
  margin-left: 1em;
}
.test1 .double-indent {
  margin-left: 2em;
}
.test1 .daily-value p:not(.no-divider) {
  border-bottom: 1px solid #888989;
}
.test1 .note {
  font-size: 0.6rem;
  margin: 5px 0;
}

@media only screen and (max-width: 1700px) {
  .vertical-timeline-element-date {
    display: block !important;
    float: none !important;
    color: rgb(53, 53, 53);
    margin-top: 1.5em;
  }
}
@media (min-width: 769px) and (max-width: 1080px) {
  .section-home .container #hoverlogosmaller {
    width: 100%;
  }
  .section-home .container .CTA-wrapper {
    width: 500px;
  }
  .section-home .container .CTA-wrapper .white {
    text-align: center;
    font-size: 1.5rem;
  }
  .navbar #languageToggleBtn {
    font-size: 0.7em;
  }
  .navbar .navbar-logos {
    width: 1.5em;
    margin: 0em;
  }
  .section-home .video-container {
    height: auto;
  }
  .section-home .hero-container {
    top: 25%;
  }
  .section-home .hero-container .title-text {
    font-size: 3em;
  }
  .section-home .hero-container #profilepic {
    margin-top: 0em;
  }
}
@media only screen and (max-width: 768px) {
  .navbar #languageToggleBtn {
    display: none;
  }
  .navbar #languageToggleBtnNavbar {
    display: none;
  }
  .padding {
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .section-home .video-container {
    position: relative;
    height: 5vh;
    width: 100%;
  }
  .section-home .background-video-container {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section-home .background-video {
    height: auto;
    width: 100%;
    float: left;
    clear: none;
    padding-bottom: 4em;
  }
  .section-home .hero-container {
    position: absolute;
    align-items: center;
    top: 25%;
    display: grid;
    grid-template-columns: 5fr 5fr;
  }
  .section-home .hero-container #profilepic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 35%;
    top: 0%;
  }
  .section-home .hero-container .title-text {
    font-size: 1.5em;
    text-align: center;
  }
  .section-home .container #hoverlogos {
    padding: 0.2em;
  }
  .section-home .container #hoverlogosmaller {
    width: 100%;
  }
  .section-home .container .logo-row {
    gap: 0.5rem;
    padding: 0.5rem;
  }
  .section-home .container .CTA-wrapper {
    width: 100%;
  }
  .section-home .container .CTA-wrapper .white {
    font-size: 1.2rem;
    text-align: center;
  }
  .section-home .container .introduction-text-short {
    line-height: 1.2;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: 1rem;
  }
  .section-home .container .introduction-text {
    line-height: 1.2;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: 1rem;
  }
  .section-home .container .introduction-text-tech {
    line-height: 1.2;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: 1rem;
  }
  .section-home .container .tech-used-container img {
    width: 15%;
  }
  .section-home .container #oulunparturilogo {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .section-home .container .title-text {
    width: 100%;
    font-size: 2em;
    text-align: center;
  }
  .section-home .container .title-text-smaller {
    font-size: 1.5em;
    text-align: center;
  }
  .navbar #languageToggleBtn {
    display: none;
  }
  .navbar #languageToggleBtnNavbar {
    display: block;
    margin: 1em;
  }
  .navbar .navbar-logos {
    width: 2.5em;
    margin: 0.3em;
  }
  .timeline-title {
    font-size: 2rem;
    padding-left: 0em;
    text-align: center;
    margin-left: 0;
  }
  .esports-section .esports-introduction {
    display: inline-block;
    width: 100%;
  }
  .esports-section .esports-introduction-embed {
    display: inline-block;
    width: 100%;
  }
  .esports-section .title-text {
    font-size: 2rem;
    padding-left: 0em;
  }
  .esports-section .image {
    width: 75%;
    height: 55%;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #fff;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 20px;
  }
  .esports-section .esports-text {
    font-size: 1rem;
  }
  .esports-section .esports-text-first {
    font-size: 1rem;
  }
  .dev-section {
    min-height: auto;
  }
  .dev-section .title-text {
    font-size: 2rem;
    padding-left: 0em;
  }
  .dev-section p {
    font-size: 1rem;
  }
  .dev-section a {
    font-size: 1rem;
  }
  .dev-section .container .unity-webgl {
    display: none;
  }
  .dev-section .container .unity-start-loading-button {
    display: none;
  }
  .dev-section .container .flex-row {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .fitness-section {
    display: inline-block;
    width: 100%;
  }
  .fitness-section .container-fitness {
    max-width: 100%;
    padding: 10px;
  }
  .fitness-section .title-text {
    font-size: 2rem;
  }
  .fitness-section .fitness-text {
    font-size: 1rem;
  }
  .fitness-section .fitness-embed {
    width: 80%;
    border: 5px solid #fff;
  }
  .fitness-section .embeds {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .fitness-section .embeds .instagram-embed {
    padding-left: 30px;
    padding-right: 30px;
  }
  .fitness-section .embeds .tweet-embed {
    padding-left: 30px;
    padding-right: 30px;
  }
  .contact-me-container .title-text {
    font-size: 2rem;
    padding: 0.5em;
  }
  .contact-me-wrapper p {
    font-size: 1rem;
  }
  .contact-me-wrapper a {
    font-size: 1rem;
  }
  .dbz-section .title-text {
    font-size: 2rem;
  }
  .dbz-section .background-video {
    width: 25%;
    height: 25%;
  }
}
.section-home .container .logo-hover-group {
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-home .container .logo-hover-group a {
  text-decoration: none;
  color: black;
}
.section-home .container .logo-hover-group h3,
.section-home .container .logo-hover-group img {
  transition: transform 0.3s ease;
}
.section-home .container .logo-hover-group:hover h3, .section-home .container .logo-hover-group:hover img {
  transform: scale(1.15);
}/*# sourceMappingURL=styles.css.map */