@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


.introduction{
  .container{
    background-color: #95b1ff;
  }
    .introduction-text{
      font-family: "Josefin Sans", sans-serif;
      font-size: 1.5em;
      text-align: center;
    }
  }
  .title-text {
    font-size: 4em;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
  }

  .fitness-section{

    .fitness-text{
      font-family: "Josefin Sans", sans-serif;
      font-size: 1.5em;
      text-align: center;
    }
  }

  .esports-section{
    display: flex;
    flex-direction: column;
    min-height: 40vh;
    max-width: 100%;
    align-items: center;

    .esports-text{
      font-family: "Josefin Sans", sans-serif;
      font-size: 1.3em;
      text-align: center;
    }
    a{
      font-family: "Josefin Sans", sans-serif;
      font-size: 1.5em;
      text-align: center;
      text-decoration: none;
    }
  }

  #profilepic{
    padding: 0;
    margin: 0;
    width: 10em;
    position: absolute;
    left: 30px;
    border-radius: 8em;
  }

  .navbar-logos {
    width: 5%;
    margin: 0.2em;
    cursor: pointer;
  }

  .navbar-right{
    margin-left: 10em;
  }
  


  a.nav-link{
    margin: 0.5em;
    padding: 0.5em;
    white-space: nowrap;
    width: auto;
    display: inline-block;

  }

  .navbar .nav-link.active {
    color: black;
    font-weight: bold;
  }

  .maincontainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    align-items: center;
  }
  
  .dev-section{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    align-items: center;

    p {
      font-family: "Josefin Sans", sans-serif;
      font-size: 1.5em;
      text-align: center;
    }

    a{
      font-family: "Josefin Sans", sans-serif;
      font-size: 1.5em;
      text-align: center;
      text-decoration: none;
    }
  }


  footer{
    position: relative;
    margin-top: auto;
    bottom: 0;
    padding-top: 10px;
    border-top: 2px solid #f5f5f5;
    background-size: cover;
    text-align: center;
    background-color: #333;
    color: #fff;
    left: 0;
    bottom: 0;
  }
  
  .video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    
  }
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  


  @media only screen and (min-width: 768px) {


    #basic-nav-dropdown{
      display: none;
    }

    #language-nav-dropdown{
      display: none;
    }
    
  }

  .timeline-div{
    background: #3DA3D5;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    color: rgb(53, 53, 53);
  }
  .timeline-title{
    font-size: 15em;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
  }
  .vertical-timeline-element-title{
    padding-top: 0.25em;
  }

  .vertical-timeline-element-content{
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25), 0 0.4em 1.25em 0 rgba(0,0,0,0.15) !important;
    padding: 2em 3em !important;
  }


  .date {
    color: rgb(201, 251, 255);
  }

  #description{
    margin: 1.5em 0 2em 0;
  }

  .button{
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    color: white;
  }

  .workButton{
    background-color: #06d6a0;
  }
  .workButton:hover{
    background-color: #0ac593;
  }
  .schoolButton{
    background-color: #f9c74f;
  }
  .schoolButton:hover{
    background-color: #f3bc3c;
  }


  @media only screen and (max-width: 1700px){
    .vertical-timeline-element-date{
      display: block !important;
      float: none !important;
      color: rgb(53, 53, 53);
      margin-top: 1.5em;
    }
  }



